<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <title>Изменить</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>
<h1 th:text="${headerMessage}"></h1>

<form th:method="POST" th:action="@{/admin/editUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <table border="2">
        <tr>
            <td><label for="userName">Username</label></td>
            <td><input type="text" th:field="*{username}" id="userName"/></td>
        </tr>
        <tr>
            <td><label for="firstName">Имя</label></td>
            <td><input type="text" th:field="*{firstName}" id="firstName"/></td>
        </tr>
        <tr>
            <td><label for="lastName">Фамилия</label></td>
            <td><input type="text" th:field="*{lastName}" id="lastName"/></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="text" th:field="*{password}" id="password"/></td>
        </tr>
        <tr>
            <td>
                <label>Roles:</label>
            </td>
            <td>

                <select name="nameRoles" multiple size="2">
                    <option th:each="role : ${roles}"
                            th:value="${role.name}"
                            th:text="${role.getName()}">
                    </option>
                </select>

            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Обновить"/></td>
        </tr>
    </table>
</form>
</body>
</html>